html,
body {
  margin: 0;
  height: 100%;
  background: #000000;
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
